body{
    background-color: lightgrey;
}
h1.first{
    font-size: 90px;
    color: rgb(7, 61, 61);
}
h2{
    color: red;
    font-size: 20px;
}
.big{
    font-size: 60px;
}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: navy;
}
span{
    color: violet;
}
.second{
    color: brown;
    font-size: 45px;
}

li {
    list-style: square;
}